{% extends "layout.html" %}
{% block content %}
    <h1>Extract Images from PowerPoint</h1>
    <p>Paper minis (also called flats) can come in many different forms, including PDF pages with the images scaled and arranged for printing. But there are many reasons you may want to extract the images. </p>
    <ul>
        <li>Create your own printout with a subset of the flats.</li>
        <li>Increase the size of the flats so they work with plastic minis.</li> 
        <li>Use the art in circle tokens.</li>
        <li>Resize the flats for use with a VTT.</li>
    </ul>
{% endblock content %}
